<html>
    <head>
        <title>GamePage</title>
        <link rel="stylesheet" href="/static/homepage.css">
        <style>body{background-color: rgb(24, 85, 121);} a{color: black;}</style>
    </head>
    <body>
        <h1>Hai</h1>
        <p>{{username|upper}}</p>
            <table><th>Questions</th><th>Submit</th>
            {%for i in data%}
            <tr>
                <td>{{i[0]}}</td>
                <td><input  type="submit" name="Yes" value="Yes"></td>
                <td><input type="submit" name="No" value="No"></td><br>
        
            </tr>
            {%endfor%}
            </table><br><br><br>
           
        <br><br><a href="/usercredentials">Go Back to Enter User Details</a><br><br>
        <a href="/">Go Back Home</a><BR></BR>        
    </body>
</html>