<!DOCTYPE html>
<html lang="en">
    <head>
        <!--comments-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>GAMiEzz hOmE</title>
        <!-- navigation for css from homepage.css-->
        <link rel="stylesheet" href="/static/homepage.css">
    </head>
</html>

<body>
    <h1 class="headrap" align="center">Welcome Gamiz to the World of games</h1>
    <p class="intro"><em>Lets Play Rapid Fire Quiz game</em><br>
        <div>
        <img class="rapimg" src="../images/rapidfireimg.jpg" alt="RapidFire Logo" width="104" height="150">
        </div>
    </p>
    <!--Navigted to enter user credentials-->
    <a href="/usercredentials">Touch Me to Play Rapid Fire Game</a>
</body>