<!--navigated to here from home.html-->
<html>
    <link rel="stylesheet" href="/static/homepage.css">
    <head><title>User Entery</title></head>
    <body ><br><br>
        <h1>Please enter the user credentials below</h1>
        <div align="center">
            <!--action done in RapidFQApp.py-->
            <form action="/insertusercred" method="POST">
                <table>
                <tr>
                    <td><label  for="fullname" class="form-con">Enter Your FullName</label><br></td>
                    <td><input type="text" class="form-control" id="fullname" name="fname"><br></td>
                </tr>
                <tr>
                    <td><label for="ageofuser" class="form-con">Enter your age</label><br></td>
                    <td><input type="text" class="form-control" id="ageofuser" name="age"><br></td>
                </tr>
                    <td><label for="phonenumber" class="form-con">Enter Your phone number</label><br></td>
                    <td><input type="text" class="form-control" id="phonenumber" name="phonenum"><br></td>
                </tr>
                </table><br>
                <input type="submit" value="Submit" name="a"/>
                <input type="submit" value="entry" name="a"/>
                
            </form>
        </div>
        <br><br><br>
        <a href="/">Go To Home</a>
    </body>
</html>