<html>
    <head><title>WelcomePage</title></head>
    <body>
        <h1>Rapid Fire Quiz Game</h1>
        <h2>Welcome {{username}}</h2><br><br>
        <p>You have 10 minutes. Every question have one minute. 
            After one minute automaticaly the next question appears. <br> You have to enter "yes" or "no" for the respective questions. <br>
        </p>
        <form action="/gamepage">
            <input type="submit" value="PlayGame"></form>
        <p>{{insertmessage}}</p>
    </body>
</html>